<div>
    <div class="folder-container">
        <div class="folder">
        <div id="owly-friends">
            <svg><use xlink:href="svg/sprites.svg#hat-owl"></use></svg>
            <svg><use xlink:href="svg/sprites.svg#wing-owl"></use></svg>
        </div>
        </div>
        <div class="shadow"></div>
    </div>
    <ul class="contact-list-container scrollable">
        <li ng-repeat="contact in contacts | filter:search" class="items">
            <button class="btn-custom-small pill-btn show-card">
                <img ng-if="contact.picture" ng-src="images/mini-{{contact.picture}}">
                <img ng-if="!contact.picture" ng-src="images/mini-male.png">
                {{contact.firstName}} {{contact.lastName}}
            </button>
        </li>
    </ul>
</div>
<script src="/js/animate.js">
</script>



