<div class="col-md-9" style="margin-top:70px;">
    <h1 style="font-size:80px;font-family: 'Montserrat', sans-serif;color:#333;">My <span style="color:#eb5e66;font-style:italic;">{{contacts.length}}</span> Contacts.</h1>
    <label for="search" style="font-size:30px;color:#333;display:inline">Browse your contacts: </label><input type="search" id="search" ng-model="search"/>
    <hr style="color:#eb5e66;">
    <ul>
        <li ng-repeat="contact in contacts | filter:search">
            <span class="btn btn-custom-small"  data-toggle="modal" data-target="#myModal" ng-click="setCurrentContact($index)">{{contact.firstName}} {{contact.lastName}}</span>

        </li>
    </ul>
    <div>
        <input class="btn btn-custom" type="button" data-toggle="modal" data-target="#myModal" ng-click="addContact()" value="ADD A CONTACT"/>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <div ng-if="currentContact.picture" class="profile-picture">
                    <img class="pull-left"  style="width: 157px;" ng-src="images/{{currentContact.picture}}">
                </div>
                <div ng-if="!currentContact.picture" class="profile-picture">
                    <img class="pull-left"  style="width: 157px;" ng-src="images/male.png">
                </div>
                    <ul class="top-profile-card-xedit">
                        <li>
                            <h2 style="font-weight:bold; font-size: 20px;margin:0;line-height:1;">
                                <span class="top-card-text-xedit" e-class="top-profile-form-xedit" editable-text="currentContact.firstName" e-name="firstName" e-form="rowform" e-required>
                                  {{ currentContact.firstName || 'Edit name' }}
                                </span>
                            </h2>
                        </li>
                        <li>
                            <h2 style="font-weight:bold; font-size: 20px;margin:0;line-height:1;">
                                <span class="top-card-text-xedit" e-class="top-profile-form-xedit" editable-text="currentContact.lastName" e-name="lastName" e-form="rowform" e-required>
                                  {{ currentContact.lastName }}
                                </span>
                            </h2>
                        </li>
                        <li>
                            <!-- form -->
                            <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline">
                                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-default btn-valid-inline-xedit">
                                    <i class="fa fa-check"></i>
                                </button>
                                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default btn-cancel-inline-xedit">
                                    cancel
                                </button>
                            </form>
                            <div class="buttons" ng-show="!rowform.$visible">
                                <button class="btn btn-default" ng-click="rowform.$show();" style ="background-color: white;border-color: white;color: #0073b2;padding:0;"> <i class="fa fa-pencil"></i></button>
                            </div>
                        </li>
                    </ul>
                <ul class="top-profile-card-xedit">
                    <li>
                        <h2 style="font-weight:normal;font-size: 20px;margin:0;line-height:1;">
                            <span class="top-card-text-xedit" e-class="top-profile-form-xedit" editable-text="currentContact.jobTitle" e-name="jobTitle" e-form="rowform2" e-required>
                              {{ currentContact.jobTitle || 'Edit job title' }}
                            </span>
                        </h2>
                    </li>

                    <li>
                        <!-- form -->
                        <form editable-form name="rowform2" ng-show="rowform2.$visible" class="form-buttons form-inline">
                            <button type="submit" ng-disabled="rowform2.$waiting" class="btn btn-default btn-valid-inline-xedit">
                                <i class="fa fa-check"></i>
                            </button>
                            <button type="button" ng-disabled="rowform2.$waiting" ng-click="rowform2.$cancel()" class="btn btn-default btn-cancel-inline-xedit">
                                cancel
                            </button>
                        </form>
                        <div class="buttons" ng-show="!rowform2.$visible">
                            <button class="btn btn-default" ng-click="rowform2.$show();" style ="background-color: white;border-color: white;color: #0073b2;padding:0;"> <i class="fa fa-pencil"></i></button>
                        </div>
                    </li>
                </ul>
                <ul class="top-profile-card-xedit">
                    <li>
                        <h2 style="font-weight:normal;font-size: 20px;margin:0;line-height:1;">
                            <span class="top-card-text-xedit" e-class="top-profile-form-xedit" editable-text="currentContact.phoneNumber" e-name="phoneNumber" e-form="rowform3" e-required>
                              <a href="#">{{ currentContact.phoneNumber || 'Edit phone number' }}</a>
                            </span>
                        </h2>
                    </li>

                    <li>
                        <!-- form -->
                        <form editable-form name="rowform3" ng-show="rowform3.$visible" class="form-buttons form-inline">
                            <button type="submit" ng-disabled="rowform3.$waiting" class="btn btn-default btn-valid-inline-xedit">
                                <i class="fa fa-check"></i>
                            </button>
                            <button type="button" ng-disabled="rowform3.$waiting" ng-click="rowform3.$cancel()" class="btn btn-default btn-cancel-inline-xedit">
                                cancel
                            </button>
                        </form>
                        <div class="buttons" ng-show="!rowform3.$visible">
                            <button class="btn btn-default" ng-click="rowform3.$show();" style ="background-color: white;border-color: white;color: #0073b2;padding:0;"> <i class="fa fa-pencil"></i></button>
                        </div>
                    </li>
                </ul>
                <button class="btn btn-custom" style="width:500px;" ng-click="removeContact($index)" data-dismiss="modal">Remove Contact</button>
                <button class="btn btn-small btn-custom" style="width:500px;margin:0;background-color: #4f5b66;color: #ffffff ;" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>